---
import { Image } from "astro:assets";
import coverImage from "../assets/images/condo.jpg";
import ContactForm from "../components/ContactForm.astro";
import MapEmbed from "../components/MapEmbed.astro";
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
---

<MainLayout activePage="contact" pageTitle={siteConfig.title + " | Contact"}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.contactInfo?.title}</h1>
    <Image
      width={400}
      height={300}
      loading="eager"
      layout="fixed"
      class="rounded-4xl mb-8 mx-auto grayscale-50"
      src={coverImage}
      alt="Condominio frente al mar"
    />
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
      <div class="sm:col-span-2">
        <ContactForm heading="Get in touch" subheading="We’ll reply quickly with next steps." />
      </div>
      <div class="sm:col-span-1">
        <MapEmbed lat={31.306205016131564} lng={-113.52520701778181} title="Office Location - Puerto Peñasco" />
      </div>
    </div>
    <div class="flex flex-col mt-8">
      <!-- <Image width={1024} height={600} loading="eager" layout="constrained" class="rounded-4xl mb-8 mx-auto" src={coverImage} alt="An Astronaut walking on a terrain"/> -->
      <p class="font-light text-left text-balance">
        {siteConfig.contactInfo?.text}
      </p>
      <p class="font-light text-left">
        {siteConfig.contactInfo?.email?.text}<br />
        <a
          href={siteConfig.contactInfo?.email?.href}
          class="font-light text-left"
        >
          {siteConfig.contactInfo?.email?.email}
        </a>
      </p>
      <p class="font-bold text-left flex flex-col sm:flex-row">
        Social Profiles:
        {
          siteConfig.socialLinks?.map((profile) => (
            <a href={profile.href} class="font-light text-left ml-4">
              {profile.text}
            </a>
          ))
        }
      </p>
    </div>
  </div>
</MainLayout>
